ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5.h6,
p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #131313;
  background-color: #fff;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-bottom: 50px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  display: block;
}

.menu {
  margin-right: 73px;
}

.menu-list {
  display: flex;
}

.menu-list-item + .menu-list-item {
  margin-left: 10px;
}

.menu-list-item {
  padding: 42px 20px 41px 20px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.menu-link {
  text-transform: uppercase;
}

.menu-list-item:hover {
  color: #fff;
  background-color: #131313;
}

/* *************** HERO *************** */

.hero {
  padding-top: 50px;
  padding-bottom: 75px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-bike-slider {
  flex-basis: 630px;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #131313;
  margin: 72px 0 5px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
  margin: 0 0 60px;
}

.hero-content-text {
  max-width: 420px;
  margin-bottom: 20px;
}

.hero-content-link {
  margin-top: 80px;
  display: inline-block;
  padding: 28px 81px;
  background-color: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
}
